.slick-slider {
	display: flex !important;
	align-items: center !important;
	background-color:#DAF2F1;
	margin: 2rem 0;
	padding: 2rem 0;
}
.slick-slider .astrologer_card {
	width: auto !important;
	display: grid !important;
	justify-content: center;
	text-align: center;
	box-shadow: 1px 1px 8px 0px #00000026;
	background-color: #fff;
	border-radius: 10px;
	height: 415px;
}
.slick-arrow-prev{
	padding-left: 2rem;
}
.slick-arrow-next{
	padding-right: 2rem;
}
.astrologer_cardImg{
    position: relative;
 }
.astrologer_cardImg img{
    height:200px
}

.astrologer_card button {
	border-radius: 25px;
	padding: em;
	background-color: #E2343B;
	color: #ffffff;
	padding: .3rem;
	font-size: 22px;
	font-weight: 600;
}
.astrologer_card h2{
    font-weight: 600;
    font-size: 25px;
    color: #000;
}
.astrologer_card h6{
    color: #727272;
    font-weight: 500;
    font-size: 22px;
}
.star_img {
	position: absolute;
	width: 115px;
	border-radius: 24px;
	display: flex;
	justify-content: space-around;
	box-shadow: 1px 1px 8px 0px #00000026;
	background: #fff;
	bottom: 0;
	right: 18%;
	align-content: center;
	padding: .7rem;
}
.star_img img{
    height: 34px;
}
.star_img p{
    font-size: 24px;
    font-weight: 600;
}