.horoscope_card{
    width: 200px;
    box-shadow: 2px 4px 8px 0px #00000040;
    border-radius: 10px;
	background-color: #fff;
}
.horoscope_card img{
    height: 100px;
}
.astro_card {
	display: flex !important;
	align-items: center !important;
	justify-content: center;
}
.astro_card .astrologer_card {
	position: relative;
	display: grid !important;
	justify-content: center;
	text-align: center;
	box-shadow: 1px 1px 8px 0px #00000026;
	border-radius: 10px;
	gap: 14px;
	padding: 1.4rem 3rem;
}
.astrologer_cardImg{
 position: relative;
}
.astrologer_cardImg{
	position: relative;
}

.astrologer_cardImg .astrologerImage{
	height: 180px;
}
/* -----------------astrologercard----------------- */
.astrologer_card button {
	border-radius: 25px;
	background-color: #E2343B;
	color: #ffffff;
	font-size: 20px;
	font-weight: 600;
	padding: 1ren 0;
	padding: .5rem 0;
}
.astrologer_card h2{
    font-weight: 600;
    font-size: 25px;
    color: #000;
}
.astrologer_card h6{
    color: #727272;
    font-weight: 500;
    font-size: 22px;
}
/* --------------astrologer details-------------- */
.astrologer_details_Card{
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
	margin: 1rem;
	border-radius: 8px;
}
.astrologer_details_Card:hover{
	
	transition: 1s ease-out;
	cursor: pointer;

}
.astrologer_details_Card .astrologer_details_Card_inner{
	display: flex;
	gap: 10px;
}
.astrologer_details{
        display: grid;
        align-content: start;
}
.astro_connect_options {
	display: flex;
	justify-content: space-around;
	padding: 1rem;
}
.astrologer_img .vedic img{
    filter: drop-shadow(1px 1px 5px 0px #00000026);

}
.astrologer_details .name {
	display: flex;
	
	padding: 1.4rem 0;
	gap: 3rem;
}
.readingicon{
	display : flex;
	margin: .2rem 0;
	gap: 1rem;
}
.readingicon p{
    font-size: 15px;
}
.readingicon img{
	height: 25px;
	width: 25px;
}
.astro_contact_card{
    position:relative;
}
.astro_contact_card .vedic img{
    height: 280px !important;
}
.astro_rating {
	display: flex;
	padding: 5px 10px;
	position: absolute;
	background-color: #fff;
	box-shadow: 1px 1px 8px 0px #00000026;
	border-radius: 20px;
	bottom: -3%;
	left: 23%;
}
.astro_rating img{
    padding-right: 8px;
    height: 25px;
}
.astro_rating p{
    font-weight: 600;
    font-size: 20px;
}
.astrologer_details h5{
    font-weight: 600;
    font-size: 20px;
}
.astrologer_details img{
    height: 35px;
}
.online-text{
	color: green;
	font-weight: 600;
}
.offline-text{
	color: #E2343B;
	font-weight: 600;
}

/* -------------------astro service card------------------- */
.astro_services_bg{
	background-color:#fcedee;
	display: flex;
	flex-direction: column;
}
