/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* CSS rules for extra small devices */
    .login-left{
        height: auto;
        padding: 1.5rem;
    }
    .login-left img{
        position: static;
        transform: translate(0%, 13%);
    }
    .register {
        background: #DE1F27E5;
        border-radius: 30px 30px 0 0;
        margin: 2rem 0;
    }
    .register p span{
      font-size: 15px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    /* CSS rules for small devices */
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    /* CSS rules for medium devices */
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    /* CSS rules for large devices */
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    /* CSS rules for extra large devices */
  }
  